<head>
    <link rel="stylesheet" href="/assets/css/template/donate.css">
</head>

<body>
    <div class="donate-popup show__donate-popup">
        <div class="donate-popup__container">
            
            <div class="donate__message"></div>

            <form action="" class="donate-popup__form">
                <div class="donate__fields grid">
                    <div class="donate__content">
                        <label for class="donate__label">Name</label>
                        <input type="text" class="donate__input" id="donate__name">
                    </div>
                    <div class="donate__content">
                        <label for class="donate__label">Email</label>
                        <input type="text" class="donate__input" id="donate__email">
                    </div>
                    <div class="donate__content">
                        <label for class="donate__label">Card Number</label>
                        <input type="text" class="donate__input" id="donate__card-num">
                    </div>
                    <div class="donate__content">
                        <label for class="donate__label">Expiration date</label>
                        <input type="text" class="donate__input" id="donate__expire">
                    </div>
                    <div class="donate__content">
                        <label for class="donate__label">CVC</label>
                        <input type="text" class="donate__input" id="donat__cvc">
                    </div>
                    <div class="donate__content">
                        <label for class="donate__label">Amount</label>
                        <input type="text" class="donate__input" id="donat__amount">
                    </div>
                </div>

                <a href="" class="btn" id="donate__cancel">Cancel</a>
                <a href="" class="btn" id="donate__submit">donate</a>

            </form>
        </div>
    </div>

    <script>
        // show donate popup div when user click on donate button
        const donateOpen = document.getElementById('nav__link-donate')
        donateOpen.addEventListener('click', (e) => {
            e.preventDefault()
            const donatePopup = document.querySelector('.donate-popup')
            donatePopup.style.display = "block"  // show popup
            document.body.style.overflowY = "hidden"  // disable scrolling on background

            // hide the div when user click cancel
            const donateCancel = document.getElementById('donate__cancel')
            donateCancel.addEventListener('click', (e) => {
                e.preventDefault()  // not reload page
                donatePopup.style.display = "none"  // hide popup
                document.body.style.overflowY = "visible"  // enable scrolling on background
            })

            // for submitting payment
            const donateSubmit = document.getElementById('donate__submit')
            donateSubmit.addEventListener('click', (e) => {
                e.preventDefault()  // not reload page
            })
        })
    </script>
</body>