<link rel="stylesheet" href="/assets/css/template/footer.css">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


<!-- ======================================================================= -->


<footer class="footer">
    <div class="footer__container">
        <div class="nav__logo logo">
            <!-- <img class="logo" src="/assets/img/Young-Disciples-logo.png" alt="Young Disciples Logo" ;> -->
            <div class="logo-title">Young Disciples</div>
            <div class="logo-subtitle">of Jesus Christ</div>
        </div>
        <p class="footer__subtitle">
            <i class='bx bx-map icon'></i> 12320 NW 7th Ave, North Miami, FL 33168
        </p>

        <a href="mailto:youngdisciplesofchrist2014@gmail.com" class="footer__email">
            <i class='bx bx-envelope icon'></i>youngdisciplesofchrist2014@gmail.com
        </a>
    </div>
</footer>