<head>
    <link rel="stylesheet" href="/assets/css/template/navbar.css">
</head>

<body>
    <header class="header" id="header">
        <!-- ======================================== navigation menu ========================================== -->
        <nav class="nav">
            <a href="#home" class="nav__home">
                <img class="logo" src="/assets/img/Young-Disciples-logo.png" alt="Young Disciples Logo";>
            </a>
        
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">HOME</a>
                    </li>
                    <li class="nav__item">
                        <a href="#ourimpact" class="nav__link">OUR IMPACT</a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">MEET US</a>
                    </li>
                    <li class="nav__item">
                        <a href="#join" class="nav__link">Join</a>
                    </li>
                    <li class="nav__item">
                        <a href="#donate" class="nav__link" id="nav__link-donate">DONATE</a>
                    </li>
                </ul>
            </div>
        </nav>   
    </header>
</body>