<link rel="stylesheet" href="/assets/css/template/navbar.css">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<script src="/assets/js/navbar.js" defer></script>

<!-- ======================================================================== -->


<header class="nav__header" id="header">
    <nav class="nav ">
        <a href="index.html" class=" logo">
            <!-- <img class="logo" src="/assets/img/Young-Disciples-logo.png" alt="Young Disciples Logo" ;> -->
            <div class="logo-title">Young Disciples</div>
            <div class="logo-subtitle">of Jesus Christ</div>
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link" id="nav__link-index">HOME</a>
                </li>
                <li class="nav__item">
                    <a href="meet-us.html" class="nav__link" id="nav__link-meet-us">MEET US</a>
                </li>
                <li class="nav__item">
                    <a href="join.html" class="nav__link" id="nav__link-join">Join</a>
                </li>
                
                <li class="nav__item">
                    <a href="contact.html" class="nav__link" id="nav__link-contact">CONTACT US</a>
                </li>
                <li class="nav__item">
                    <a href="donate.html" class="nav__link" id="nav__link-donate">DONATE</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>
        </div>

        <div class="nav__btns">
            <!-- Theme change button -->
            <i class="bx bx-moon change-theme" id="theme-button"></i>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </div>
    </nav>
</header>

<!-- active-link -->