<script src="assets/js/navbar.js" defer></script>

<header class="nav__header" id="header">
    <nav class="nav ">
        <a href="https://youngdisciplesministries.com/" class="logo">
            <img src="assets/img/Young-Disciples-logo.png" alt="" class="nav-logo logo-img">
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="https://youngdisciplesministries.com/" class="nav__link" id="nav__link-index">HOME</a>
                </li>
                <li class="nav__item">
                    <a href="https://youngdisciplesministries.com/meet-us" class="nav__link" id="nav__link-meet-us">MEET US</a>
                </li>
                <li class="nav__item">
                    <a href="https://youngdisciplesministries.com/join" class="nav__link" id="nav__link-join">Join</a>
                </li>
                
                <li class="nav__item">
                    <a href="https://youngdisciplesministries.com/contact" class="nav__link" id="nav__link-contact">CONTACT US</a>
                </li>
                <li class="nav__item">
                    <a href="https://youngdisciplesministries.com/assets/donate" class="nav__link" id="nav__link-donate">DONATE</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>
        </div>

        <div class="nav__btns">
            <!-- Theme change button -->
            <i class="bx bx-moon change-theme" id="theme-button"></i>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </div>
    </nav>
</header>