<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Impact</title>


    <link rel="stylesheet" href="assets/css/index.css">

    <script src="assets/js/main.js" defer></script>
    <script src="assets/js/index.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div id="navbar"></div>
<!-- ##################################### -->
<!-- Note: You have to rename the containers because they are messing up the other things
        Also Fix up the colors and change to Primary colors -->
    <header class="header1" id="inicio">

        <div class="contenedor head">
            <h1 class="titulo">Young Disciples of Jesus Christ</h1>
            <p class="copy">Who the Son sets free is free indeed</p>
        </div>
    </header>

    <main>
        <div class="container" id="app">
            <div class="tab">
              
              <div class="menu">
                <div class="menu__item menu__item--first" :class="[ active === 0 ? 'is-active' : '']" @click="selectedContent(0)">First</div>
                <div class="menu__item menu__item--second" :class="[ active === 1 ? 'is-active' : '']" @click="selectedContent(1)">Second</div>
                <div class="menu__item menu__item--thirst" :class="[ active === 2 ? 'is-active' : '']" @click="selectedContent(2)">Thirst</div>
                <div class="menu__line" :class="className"></div>
              </div>
              
              <div class="contents">
                <transition :name="animation" mode="out-in">
                  <div class="contents__content" v-if="active === 0" key="0">
                    <span class="material-icons">build</span>
                    <h2>First Section</h2>
                    <p>Quasi dignissimos eos ea hic impedit ipsum, aliquam nihil laborum ad, esse consequatur, delectus minus!</p>
                    <button>Learn more</button>
                  </div>
                  
                  <div class="contents__content" v-if="active === 1" key="1">
                    <span class="material-icons">flash_on</span>
                    <h2>Second Section</h2>
                    <p>Molestiae dolore itaque at dolor, odio blanditiis sequi, tempore illum doloremque repellat dolores deserunt debitis, rem eaque! Magnam placeat esse vero quisquam!</p>
                    <button>Learn more</button>
                  </div>
                  
                  <div class="contents__content" v-if="active === 2" key="2">
                    <span class="material-icons">lock</span>
                    <h2>Thirst Section</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, cum maxime reprehenderit quisquam ratione eaque veritatis perspiciatis totam.</p>
                    <button>Learn more</button>
                  </div>
                </transition>
              </div>
            </div>
          </div>
        <!-- Programs Slider -->
        <section class="programs">
            <div class="general-container">
                <input class="radio" type="radio" name="card" id="card-1" checked />
                <label class="content" for="card-1">
                    <span class="icon">
                        <i class='bx bxs-music' ></i>
                    </span>
                    <h3 class="card-title">
                        Praise Team
                        <span class="subtitle">Led by Evona</span>
                    </h3>
                </label>
                <input class="radio" type="radio" name="card" id="card-2" />
                <label class="content" for="card-2">
                    <span class="icon">
                        <i class = 'fas fa-church'></i>
                    </span>
                    <h3 class="card-title">
                        The Chior
                        <span class="subtitle">Led by Jessica</span>
                    </h3>
                </label>
                <input class="radio" type="radio" name="card" id="card-3" />
                <label class="content" for="card-3">
                    <span class="icon">
                        <i class="fas fa-male"></i>
                    </span>
                    <h3 class="card-title">
                        Mens Ministry
                        <span class="subtitle">Led by Derek</span>
                    </h3>
                </label>
                <input class="radio" type="radio" name="card" id="card-4" />
                <label class="content" for="card-4">
                    <span class="icon">
                        <i class="fas fa-female"></i>
                    </span>
                    <h3 class="card-title">
                        Womens Ministry
                        <span class="subtitle">Led by Pauldette</span>
                    </h3>
                </label>
                <input class="radio" type="radio" name="card" id="card-5" />
                <label class="content" for="card-5">
                    <span class="icon">
                        <i class='bx bxs-baby-carriage'></i>
                    </span>
                    <h3 class="card-title">
                        Kids Ministry
                        <span class="subtitle">Led by Jenny</span>
                    </h3>
                </label>
                
            </div>
        </section>

        <!--         
        <section class="contenedor" id="servicio">
            <h2 class="subtitulo">Our Services</h2>
            <div class="contenedor-servicio">
                <img src="https://image.freepik.com/free-vector/multitasking-concept-illustration-character_23-2148403716.jpg"
                    alt="" id="our-impact__bg-image">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service">
                            <span class="number">1</span>Diseño Web
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sit nihil error tenetur
                            provident sunt
                            non. Vitae deleniti ullam dolores!</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service">
                            <span class="number">2</span>Diseño Web
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sit nihil error tenetur
                            provident sunt
                            non. Vitae deleniti ullam dolores!</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service">
                            <span class="number">3</span>Diseño Web
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sit nihil error tenetur
                            provident sunt
                            non. Vitae deleniti ullam dolores!</p>
                    </div>
                </div>
            </div>
        </section> -->


    </main>

    <div id="footer"></div>
</body>

</html>