.footer {
    bottom: 0;
    background: var(--color-footer);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    border-top: 2px solid;
    height: auto;
    width: 100%;
    
    font-family: 'Alata', sans-serif;
    padding-top: 1.5rem;
    color: var(--color-text-alt); 
}

footer .logo:hover .logo-title, 
footer .logo:hover .logo-subtitle {
    color: white;
    border: 1.5px solid white;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer__subtitle {
    max-width: 32rem;
    margin: 1rem auto;
    line-height: 1.75rem;
    font-size: 1rem;
}

.footer__email {
    margin: 1rem 0 3rem 0;
    color: rgb(143, 143, 143);
}

.footer-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    transition: 0.3s;
}