@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Londrina+Shadow&family=Rajdhani&Open+Sans:400,500,300,700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300;400;900&display=swap');


:root {
    --header-height: 3.5rem;

    --color-primary: #F0A500;
    --color-secondary: #185ADB;
    --color-background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 100%);
    --color-navbar: radial-gradient(circle, rgb(143, 143, 143) 0%, rgb(126, 126, 126) 100%);
    --color-footer: radial-gradient(circle, rgb(88, 88, 88) 0%, rgb(83, 83, 83) 100%);
    --color-menus-primary: radial-gradient(circle, rgb(58, 58, 58) 0%, rgba(33,33,33,1) 100%);
    --color-menus-secondary: radial-gradient(circle, rgb(189, 187, 187) 0%, rgb(172, 172, 172) 100%);
    --color-containers: #ffffff;
    --color-text-header: #143a88;
    --color-text-primary: #131313;
    --color-text-secondary: #505050;
    --color-text-alt: #FFFFFF;
}

body.dark-theme {
    --color-background: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(24,24,24,1) 100%);
    --color-navbar: radial-gradient(circle, rgb(165, 165, 165) 0%, rgb(158, 158, 158) 100%);
    --color-footer: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(24,24,24,1) 100%);
    --color-menus-primary: radial-gradient(circle, rgb(58, 58, 58) 0%, rgba(33,33,33,1) 100%);
    --color-menus-secondary: radial-gradient(circle, rgb(58, 58, 58) 0%, rgb(51, 51, 51) 100%);
    --color-containers: radial-gradient(circle, rgba(87,87,87,1) 0%, rgba(64,64,64,1) 100%);
    --color-text-header: #185ADB;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #B3B3B3;
} 

/* :root {
    --header-height: 3.5rem;
    colors
    --hue-color: 39;
    --color-secondary: #e7bc2e;
    --color-alt: hsl(var(--hue-color), 92%, 85%);
    --color-container: #000000;
    --color-text: #494949;
    --color-input: #bebebe1c;
    --color-body: rgb(248, 247, 241);
    --color-container: #F2EBD8; 
    --color-container-secondary: white;
    --color-container-alt: #d3d3d3;
    --color-title:rgb(0, 0, 0);
    --color-container: rgb(248, 247, 241);
    background: #384351;
} */

body.dark-theme {
    --color-body: #59687a;
    --color-container: #384351;
    --color-container-secondary: #384351;
    --color-container-alt: #212831;
    --color-title: rgba(255, 255, 255, 0.774);
    --color-text: #ffffff67;
}

/* end of variables */


/* default values */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Poppins", sans-serif;
    font-display: swap;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    /* background: var(--color-body); */
    background: var(--color-background)
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}


/* end of default values */


.section {
    margin: 0 3rem;
}

.container {
    max-width: 1650px;
    height: auto;
} 

.section-title {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
    margin-top: var(--header-height);
    user-select: none;
    color: var(--color-text-header);
}

/* ===================================================== */


/* buttons */
.btn {
    padding: 1rem 2.5rem;
    background-color: transparent;
    border-radius: 2rem;
    border: solid;
    margin: 1rem 0;
    text-transform: uppercase;
    color: var(--color-title);
    font-size: 1.1rem;
    transform: all .5s;
    text-decoration: underline;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
    color: var(--color-primary);
}


/* ========================================================= */


/* scroll up button */

.scrollup {
    position: fixed;
    background-color: var(--color-primary);
    right: 1rem;
    bottom: -30%;
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem;
    z-index: 1000000;
    opacity: .8;
    transition: .4s;
}

.scrollup__icon {
    font-size: 3rem;
    color: #FFF;
}

.scrollup:hover {
    background-color: var(--color-secondary);
    opacity: 1;
}


/* Show Scroll Up button*/

.show-scroll {
    bottom: 3rem;
}


/* ====================== media queries ==================== */


/* for small devices */

@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/* For large devices */

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}