.donate__container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donate-form {
    width: 100%;
    max-width: 820px;
    background-color: var(--color-container-secondary);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    justify-content: center;
}
.donate-info{
    padding: 2.3rem 2.2rem;
    position: relative;
    justify-content: center;
}
.donate-title {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    justify-content: center;
    text-align: center;
}
.donate-text{
    text-align: center;
    color: var(--color-title);
    margin: 1.5rem 0 2rem 0;
}

.number{
    text-align: center;
    color: #8224e3;
    font-size: 4rem;
}
.donation-information {
    display: flex;
    color: var(--color-text);
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
    text-align: center;
    justify-content: center;
}

@media (max-width: 850px) {
    .donate-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }
    .donate-text {
        margin: 1rem 0 1.5rem 0;
    }
}
@media (max-width: 480px) {
    .donate__container {
        padding: 1.5rem;
    }
    .donate-information
    .donate-text{
        font-size: 0.8rem;
    }
}
