.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.donation__section .flex > div {
    width: 100%;
}

.donation__form > .section {
    display: none;
    background: var(--color-container);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 700px !important;
    border-radius: 3rem;
    padding: 50px;
    box-shadow: 0 0 10px black;
}

.fade-out {
    transition: 'all 1s ease-in-out';
    filter: 'blur(8px)';
    user-select: 'none';    
}

/* ############################################################# */
/* MAIN LANDING SECTION OF DONATE PAGE */
/* ############################################################# */

.donation-container.flex{
    gap: 3rem;
}

.donation-container {
    min-height: calc(100vh - var(--header-height));
}

.donation-right {
    text-align: center;
}

.donation-description {
    margin-bottom: 3rem;
}

.donation-btn {
    background: var(--color-primary);
    font-size: 40px;
    padding: 3px 10px;
    margin-top: 500px;
    border-radius: 10px;
    color: white;
    transition: all .3s ease-in-out;
}

.donation-btn:hover {
    background: var(--color-secondary);
}

.donation-btn:focus {
    color: red;
}

.donation-img {
    border-radius: 1rem;
}

@media screen and (max-width: 1150px) {
    .donation-container.flex{
        flex-direction: column-reverse;
    }
}

/* ############################################################# */
/* BILLING ADDRESS SECTION */
/* ############################################################# */



/* ############################################################# */
/* CARD INFO SECTION */
/* ############################################################# */



/* ############################################################# */
/* REVIEW DONATION SECTION */
/* ############################################################# */