.payment__method-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--color-body);
    letter-spacing: 1px;
}

.payment__method-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.7em;
    font-size: 20px;
    font-weight: bold;
    background: var(--color-primary);
    border-radius: 10px 10px 0 0;
}

.form {
    width: 660px;
    border-radius: 1rem;
    background: var(--color-container-secondary);
    box-shadow: 0 27px 55px 0 var(--color-container), 0 17px 17px 0 var(--color-body);
}

.form__title {
    color: var(--color-title);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;

    margin: 1.7rem auto;
    text-align: center;
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;

    left: 20%;
}

.form__input {
    position: absolute;
    width: 25rem;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid black;
    border-radius: 1.25rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
}

.input-row .form__input {
    width: 10rem;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: var(--color-container-secondary);
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__button {
    display: block;
    margin: 2rem auto;
    padding: .75rem 2rem;

    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}


/*Input focus move up label*/

.form__input:focus+.form__label {
    top: -.7rem;
    left: .8rem;
    color: var(--color-primary);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}


/*Input focus sticky top label*/

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -.7rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}


/*Input focus*/

.form__input:focus {
    border: 1.5px solid var(--color-primary);
}

#error-message {
    text-align: center;
    color: red;
}