/* variables */
:root {
    --header-height: 6rem;

    /* colors */
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-alt: orange;
    --color-container: #FAFAFA;
}
/* end of variables */

/* default values */
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, ul, p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* end of default values */


.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    background-color: var(--color-container);
    border-bottom: 2px solid;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.nav {
    height: var(--header-height);
    margin: auto 1.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}

.nav__item {
    text-align: center;
}

.nav__list {
    display: grid;
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
    font-size: 250%;
    font-weight: bold;
    line-height: 100%;
    font-family: 'Londrina Shadow', cursive;
}

.nav__link:hover {
    color: var(--color-alt);
}

.active-link {
    color: var(--color-alt);
}

#nav__link-donate {
    color: red;
}