
:root {
    --primary-light: #e9d9ff;
    --primary: #643cf5;
    --greyLight: #9ea9d6;
    --greyLight-2: #c8d1f5;
    --greyDark: #5a6181;
  }
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.6px;
    line-height: 1.4;
  }
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tab {
    width: 32rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--greyLight);
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 28rem;
    position: relative;
  }
  .menu::after {
    content: '';
    position: absolute;
    width: inherit;
    bottom: 0;
    left: 0;
    height: 1px;
    background: var(--greyLight-2);
  }
  .menu__item {
    padding-bottom: 0.6rem;
    margin: 0 1.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
  }
  .menu__item.is-active {
    color: var(--primary);
  }
  .menu__item--first:hover {
    color: var(--primary);
  }
  .menu__item--first:hover:hover ~ .menu__line {
    transform: translateX(0);
    width: 6rem;
  }
  .menu__item--second:hover {
    color: var(--primary);
  }
  .menu__item--second:hover:hover ~ .menu__line {
    transform: translateX(9.4rem);
    width: 8.2rem;
  }
  .menu__item--thirst:hover {
    color: var(--primary);
  }
  .menu__item--thirst:hover:hover ~ .menu__line {
    transform: translateX(21rem);
    width: 7rem;
  }
  .menu__line {
    position: absolute;
    bottom: 0;
    width: 6rem;
    height: 100%;
    border-bottom: 1px solid var(--primary);
    z-index: 200;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  .menu__line.activeSecond {
    transform: translateX(9.4rem);
    width: 8.2rem;
  }
  .menu__line.activeThirst {
    transform: translateX(21rem);
    width: 7rem;
  }
  .contents {
    height: 22rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .contents__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contents__content span {
    color: var(--primary);
    font-size: 3rem;
    margin-bottom: 1.6rem;
    padding: 1rem;
    border-radius: 1.2rem;
    background: var(--primary-light);
  }
  .contents__content h2 {
    font-size: 1.8rem;
    color: var(--greyDark);
  }
  .contents__content p {
    font-size: 1.2rem;
    margin: 1.6rem 0;
  }
  .contents__content button {
    border: none;
    outline: none;
    background: none;
    color: var(--primary);
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
  }
  .contents__content button:hover {
    border-bottom: 1px solid var(--primary);
  }
  .fadeUp-enter {
    opacity: 0;
  }
  .fadeUp-enter-active {
    animation: slide-in 0.3s ease-in-out forwards;
    transition: opacity 0.3s;
  }
  .fadeUp-leave-active {
    animation: slide-out 0.3s ease-in-out forwards;
    transition: opacity 0.3s;
    opacity: 0;
  }
  .fadeDown-enter {
    opacity: 0;
  }
  .fadeDown-enter-active {
    animation: slide-in-down 0.3s ease-in-out forwards;
    transition: opacity 0.3s;
  }
  .fadeDown-leave-active {
    animation: slide-out-down 0.3s ease-in-out forwards;
    transition: opacity 0.3s;
    opacity: 0;
  }
  @keyframes slide-in {
    from {
      transform: translateY(2rem);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2rem);
    }
  }
  @keyframes slide-in-down {
    from {
      transform: translateY(-2rem);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slide-out-down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(2rem);
    }
  }
  
/* ###################################################################################### */
/* Programs Sliders */
/* ###################################################################################### */

.header1 {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(219, 183, 85, 0.6) 0%, rgba(0, 0, 0, 0.5) 100%), url(https://images.unsplash.com/photo-1502323777036-f29e3972d82f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}


/* navigation bar scroll down animation */

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
.navbar-scroll {
    animation: slide-in 1000ms;
}

/* END OF navigation bar scroll down animation */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
:root {
    --dark-blue: #1F4782;
    --dark-gray: #303335;
    --golden: #AB834C;
    --golden-tainoi: #E9BE71;
    --gray: #818C96;
    --white: #FFF;
}

.programs body {
    background: linear-gradient(90deg, #CAF3F2 0%, #6FE3E1 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    justify-content: center;
    height: 100%;
    
}

.general-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 30rem;
    margin: 0 auto;
    max-width: 100%;
    width: 80rem;
    
}
@media only screen and (max-width: 700px) {
    .general-container{
        flex-direction: column;
        height: 40rem;
        flex-wrap:none;
        max-height: 100%;
        margin-left: 1vw;
        margin-right: 2vw;
    }
    .content{
    margin-bottom: 0.8rem; 
    
    }
    .icon{
        top: 0.8vh;
        height: 1.7rem !important;
        width:1.7rem !important;
    }
  }
.radio {
    display: none;
}

.content {
    background: var(--white) url('https://images.unsplash.com/photo-1524572217604-17e96c89e56f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80') 100% / cover no-repeat;
    border-radius: 3rem;
    cursor: pointer;
    flex: 1;
    margin-right: 0.8rem;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}


.content:hover {
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.icon {
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    bottom: 1rem;
    color: var(--golden-tainoi);
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    left: 1.5rem;
    position: absolute;
    width: 2.5rem;
}

.content:nth-of-type(2) {
    background-image: url('../img/Praise-team-dinner.JPG');
}

.content:nth-of-type(3) {
    background-image: url('https://images.unsplash.com/photo-1482406611936-43ea538e39d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80');
}

.content:nth-of-type(4) {
    background-image: url('https://images.unsplash.com/photo-1483663167873-0cfcc893b78c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2096&q=80');
}

.content:nth-of-type(5) {
    background-image: url('https://images.unsplash.com/photo-1475116127127-e3ce09ee84e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
   
}

.content:nth-of-type(2) .icon {
    color: var(--dark-gray);
}

.content:nth-of-type(3) .icon {
    color: var(--dark-blue);
}

.content:nth-of-type(4) .icon {
    color: var(--gray);
}

.content:nth-of-type(5) .icon {
    color: var(--golden);
}

.card-title {
    bottom: 1.2rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    left: 4.5rem;
    line-height: 1.1;
    opacity: 0;
    position: absolute;
    text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    transform: translateX(2rem);
    transition: 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95) 300ms;
    transition-property: opacity, transform;
    user-select: none;
    white-space: nowrap;
}

.subtitle {
    font-size: 0.9rem;
}


/* Effect */

.radio:checked+.content {
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    flex: 10;
}

.radio:checked+.content>.card-title {
    opacity: 1;
    transform: translateX(0);
}