/* regular schedule */
:root {
    --schedule-card-height: 610px;
}

.schedule-section {
    margin-bottom: calc(var(--schedule-card-height) / 2);
}
.schedule__carousel {
    margin-top: calc(var(--schedule-card-height) / 2);
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule__day-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    /* create a background that the user can see */
    width: 350px;
    height: var(--schedule-card-height);
    background: var(--color-container-secondary);
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.486);
}

.schedule__day-card.active {
    /* opacity: 1; */
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.schedule__day-card.prev {
    z-index: 2;
    /* opacity: 0.9; */
    transform: translate(-175%, -50%);
}

.schedule__day-card.next {
    z-index: 2;
    /* opacity: 0.9; */
    transform: translate(75%, -50%);
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
}

.button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
}

.button-container .button:nth-child(1) {
    float: left;
}

.button-container .button:nth-child(2) {
    float: right;
}

/* ============================================== */

.schedule__day-title {
    text-align: center;
    margin: 2rem auto;
}

.schedule__event {
    text-align: center;
    margin: 6rem;
}


/* special events */

.event-container {
    max-width: 800px;
    margin: 0 auto;
    user-select: none;
}

.event-container .event {
    background: var(--color-container-secondary);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.486);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.event:hover {
    box-shadow: 0 5px 40px black;
    transform: scale(1.05);
}

.event .event-left {
    background: var(--color-container-alt);
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-title);
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: var(--color-primary);
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background-color: var(--color-container);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

body.dark-theme .event .event-right .event-timing {
    background-color: var(--color-body);
}

.event-description {
    color: var(--color-text);
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    .event {
        flex-direction: column;
    }
    .event .event-left {
        width: 100%;
        padding: 0;
        border-radius: 8px 8px 0 0;
    }
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 24px;
    }
    .event .event-left .event-date {
        padding: 10px 0;
    }
}


/* location map */

.location__map {
    width: 100%;
}

body.dark-theme .location__map {
    filter: invert(90%)
}