.schedule__section {
    display: flex;
    align-items: center;
}

.schedule__wrapper {
    width: 100%;
}

.schedule__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.schedule-carousel {
    text-align: center;
    margin: 20px 0;
}

.schedule {
    background: var(--color-container);
    border-radius: 1rem;
    padding: 3rem 0;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    width: 14px;
    height: 14px;
    background: #333 !important;
    margin: 0 6px;
    border-radius: 50%;
    outline: none;
    transition: .3s linear;
}

.owl-dot.active {
    background: var(--color-primary) !important;
}


.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translate(0,-50%);
}

.owl-nav .owl-next {
    left: auto;
    right: 0;
}

/* special events */

.event-container {
    max-width: 800px;
    margin: 0 auto;
    user-select: none;
}

.event-container .event {
    background: var(--color-container-secondary);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.486);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.event:hover {
    box-shadow: 0 5px 40px black;
    transform: scale(1.05);
}

.event .event-left {
    background: var(--color-container-alt);
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-title);
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: var(--color-primary);
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background-color: var(--color-container);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

body.dark-theme .event .event-right .event-timing {
    background-color: var(--color-body);
}

.event-description {
    color: var(--color-text);
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    .event {
        flex-direction: column;
    }
    .event .event-left {
        width: 100%;
        padding: 0;
        border-radius: 8px 8px 0 0;
    }
    .event .event-left .event-date {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        min-width: 9rem;
    }
    .event-date .date {
        font-size: 16px;
        font-weight: normal;
    }
    .event .event-left .event-date {
        padding: 10px 0;
    }
}


/* ========================================================== */


/* location map */
.location__map-wrapper {
    margin-top: 2rem;
    border-top: 1px solid var(--color-text);
}

.location__map {
    width: 100%;
}

body.dark-theme .location__map {
    filter: invert(90%)
}