@import url('https://fonts.googleapis.com/css2?family=Alata&family=Londrina+Shadow&family=Rajdhani&Open+Sans:400,500,300,700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* variables */

:root {
    --header-height: 3.5rem;
    /* colors */
    --hue-color: 39;
    --color-primary: hsl(var(--hue-color), 69%, 61%);
    --color-secondary: #d4af37;
    --color-alt: hsl(var(--hue-color), 92%, 85%);
    --color-title: #000000;
    --color-text: #000000;
    --color-input: hsl(var(var(--hue-color), 70%, 96%));
    --color-body : rgb(248, 247, 241);
    --color-container: #d3d3d3;
    --color-container-secondary: white;
    /* --color-container: rgb(248, 247, 241); */
    /*  background: #384351; */
}

body.dark-theme {
    --color-title : #fff;
    --color-body : #59687a;
    --color-container: #384351;
    --color-container-secondary: #384351;
    --color-text: #ffffff67;
}

/* end of variables */


/* default values */

*,
 ::before,
 ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background: var(--color-body);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/* end of default values */

.logo-title,
.logo-subtitle {
    font-weight: 600;
    color:  var(--color-title);
    text-transform: uppercase;
    border: 1.5px solid var(--color-title);
    font-family: 'Londrina Shadow', cursive;
    white-space: nowrap;
}

.logo-title {
    font-size: 30px;
}

.logo-subtitle {
    font-size: 20px;
}

.logo:hover .logo-title,
.logo:hover .logo-subtitle {
    color: var(--color-primary);
    font-weight: 570;
    border: 1.2px solid var(--color-primary);
}

.btn {
    padding: 1rem 2.5rem;
    background-color: transparent;
    border-radius: 2rem;
    border: solid;
    margin: 1rem 0;
    text-transform: uppercase;
    color: var(--color-title);
    font-size: 1.1rem;
    transform: all .5s;
    text-decoration: underline;
    font-family: 'Alata', sans-serif;
}

.btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
    color: var(--color-primary);
}

/* PAGE HEADER */
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 210px 0 90px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/page-header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header h2 {
    position: relative;
    color: #FDBE33;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #FDBE33;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #ffffff;
}

.page-header a:hover {
    color: #FDBE33;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #ffffff;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
    
    .page-header a {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}



/* ====================== media queries ==================== */


/* for small devices */

@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/* For large devices */

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}