*{
    margin: 0;
    padding: 0;
}
section{
    padding: 7 0;
}
body{
    text-align: center;
    background-image:rgb(255, 255, 255); 
}
.logo{
    float:left;
}
.nav-lines-container{
    width:100%;
    position:absolute;
    z-index: 999;
    display:none;
}
.nav-lines div{
height: 6px;
background-color:gold;
margin:1px 0  7px;
border-radius:25px;
transition: 0.3;
}
.nav-lines{
    width: 40px;
    display:block;
    margin: 2em 0 0 2em;
}
.nav-line-two{
width: 1.875rem;
}
.nav-container{
    position: absolute;
    margin:();
    width:100%;
    z-index: 999;
}

.topnav{
    overflow:hidden;
    background-color: transparent;
    opacity: 1;
    padding:0% 0% -1%;
    
}
.topnav a{
    margin-top:3%;
    margin-right: 1%;
    float: right;
    border: ();
    color: black;
    text-decoration: none;
    text-align:center;
  	font-size: 250%;
    font-weight: bold;
    line-height: 100%;
    font-family: 'Londrina Shadow', cursive;
}
.nav-btn-donate{
    color:red;
}
.topnav a:hover{
    color: gold;
}
@media all and (max-width: 1036px) {
    body{
        overflow-x:hidden;
    }
    .logo{
        float:center;
        Margin:0% 30% 0%;
    }
    .topnav{
        border:none;
    }
    .nav-btn-donate{
        background-color:transparent;
    }
    .nav-btn-donate:hover{
        color:red;
    }

    .nav-button{
        position:absolute;
        left: 0rem;
        height :100vh;
        top:0vh;
        background-color:gold;
        display:flex;
        flex-direction: column-reverse;
        justify-content: center; 
        width:100%;
        transform: translateX(-100%);
        transition: transform 0.6s ease-out;
    }
    .nav-lines-container{
        display: block;    
    }
    .nav-button a{  
        border:0;
        font-size: 15vw;
        height: 10vh;
    }
    .topnav a:hover{
        color:white;
    }
}
.nav-lines-container-active{
    transform: translateX(0%);
}
@keyframes navButtonFade{
    from {
        opacity: 0;
        transform: translateX(-3.125rem)
    }
    to{
        opacity: 1;
        transform:translateX(0rem) ;
    }
}
.toggle .nav-line-one{
    transform: rotate(-50deg) translate(-0.65rem,0.375rem);
    background-color: white;
    }
.toggle .nav-line-two{
    opacity:0;
    }
.toggle .nav-line-three{
    transform: rotate(50deg) translate(-0.65rem,-0.375rem);
    background-color: white;    
    }

.homepage-top-background-image{
    content: ();
    position: relative;
    width: 100%;
    background-position:center;
    background-size:cover;
}
.homepage-title{
    color: black;
    font-size: 1000%;
    position: absolute;
    top: 16.25rem;
    width:100%;
    text-align:center;
    text-shadow: 5px 5px 10px #333;
    font-weight: bold;
    line-height: 80%;
    font-family: 'Londrina Shadow', cursive;
}
.homepage-title::after{
    content:"";
    background-color: black;
    box-shadow: 5px 5px 10px #333;
    width: 60%;
    height:7%;
    z-index:998;
    position: absolute;
    bottom: -19%;
    left:50%;
    border-radius: 50%;
    transform: translateX(-50%)
}
@media screen and (min-width: 700px){
    .homepage-title{
        color:();
    }
}
@media all and (max-width: 1124px){
    .homepage-title{
        font-size: 800%;
    }
}
.homepage-wrapper-title{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 4rem;
    line-height:6rem;
    margin: 12% 0;
}
.homepage-wrapper-title-arrow{
    color:gold;
}
.homepage-wrapper-fellowship-container{
    width:100%;
    animation: animate 16s ease-in-out infinite;
    background-size:cover;
}
/*Crop the images to Widescreen 16:9*/
@keyframes animate {
    0%, 50%{
        background-image: url(African-youth.PNG);
    }
    25%, 100%{
        background-image: url(fellowship-1.jpg);
    }
}

.homepage-wrapper-fellowship{
    font-size:2rem;
    border:solid;
    border-color: red;
    left:0rem;
    top:13rem;
    padding: 2%;
    width:15%;
    box-sizing:();
}

/* .homepage-grid-3{
  
}

.homepage-grid-4{
      
}
.homepage-grid-5{
    
} */
.homepage-grid div:nth-child(even){
background-color:gold;
}
.homepage-grid div:nth-child(odd){
    background-color: red;
}