@import url('/assets/css/style.css');

/* ======================= header ======================== */

.nav__header {
    width: 100%;
    background: var(--color-container);
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px black;
    user-select: none;
    transition: all .2s ease-in-out; 
}

/* ========================= nav ========================== */

.nav {
    height: var(--header-height);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
}

.change-theme{
    color: black;
    font-size: 1.15rem;
    cursor: pointer;
}

body.dark-theme .change-theme {
    color: white;
}
  
.nav__btns{
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}

.nav .logo,
.nav__toggle,
.nav__close,
.nav__link {
    color: var(--color-title);
}

.nav .logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}

.logo-img {
    width: 50px;
    height: auto;
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

/* default position for mobile */
@media screen and (max-width: 823px) {
    .nav__menu {
        position: fixed;
        background-color: var(--color-container);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(var(--hue-color), 24%, 15%, .1);
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
    }
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    
}

.nav__link {
    color: var(--color-title);
    letter-spacing: 3px;
    font-size: 150%;
    text-transform: uppercase;
    font-family: 'Londrina Shadow', cursive;
    font-weight: 600;
    white-space: nowrap;
    transition: 1s;
}

.nav__link:hover {
    color: var(--color-secondary);
    font-size: 160%;
    border-radius: 1rem;
    /* box-shadow: 0 0 10px black; */
}

#nav__link-donate {
    color: rgb(243, 53, 53);
    font-weight: 600;
}

#nav__link-donate:hover {
    font-size: 160%;
    color: var(--color-primary);
}

.show-menu {
    right: 0;
}

.active-link {
    color: var(--color-primary);
}

/* postion for desktop */
@media screen and (min-width: 823px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1.5rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: .5rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__link {
        padding: .5rem 5px;
    }
}

/* FIXME */

@media screen and (min-width: 1190px) {
    .nav__link {
        padding: .5rem 10px;
    }
}

